@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(0, 0, 0);
  --background: rgb(241, 239, 239);
}

html[data-theme='dark'] {
  --foreground: rgb(255, 255, 255);
  --background: rgb(28, 28, 28);
}
html {
  scroll-behavior: smooth;
  background: var(--background);
}
body {
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
